APP_NAME=Minigram
APP_BUNDLE_ID=fork.telegram.Fork
APP_SPECIFIC_URL_SCHEME=tgfork

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=false APP_CONFIG_IS_APPSTORE_BUILD=true APP_CONFIG_APPSTORE_ID=0 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_CONFIG_API_ID=31976092 APP_CONFIG_API_HASH="\"f1c6c870eb9acee29ef0c37c370ae974\"" APP_CONFIG_HOCKEYAPP_ID="\"\""
